@font-face {
	font-family: 'Farmers_Reg';
	src: url("./Farmers/Farmer'sCo-op-Regular.woff") format('woff');
}
@font-face {
	font-family: 'Farmers_Thin';
	src: url("./Farmers/Farmer'sCo-op-Thin.woff") format('woff');
}

@font-face {
	font-family: 'Farmers_Bold';
	src: url("./Farmers/Farmer'sCo-op-Bold.woff")
	format('woff');
}

@font-face {
	font-family: 'Farmers_Semi_Bold';
	src: url("/Farmers/Farmer'sCo-op-SemiBold.woff")
	format('woff');
}



body {
	text-align: center;
}

#happy_hour {
	font-family: "Farmers_Bold";
	font-size: 2rem;
}

.side_img{
	background-color: black;
	width: 80%;
	height: 100%;
	margin-right: -5%;
}


.title_bar {
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-family: 'Farmers_Reg';
	text-align: center;
	color: #eccf90;
}

#logo_container {
	padding-top: 5%;
	text-align: center;
	display: inline-block;
	padding-bottom: 5%;
	background-color: black;

}

.home {
	background: black;
}

#menu_container {
	text-align: center;
	display: none;
}

nav {
	border-top: 2px solid black;
	padding-bottom: 7%

	
}

.nav_white {
	background-color: white;
	margin-top: 2%;
}

.nav_black {
	background-color: black;
}

.nav_items_black {
	font-size: 1.5rem;
	font-family: "Farmers_Thin";
	margin-left: 2%;
	color: #eccf90; 
}

.nav_items_white {
	font-size: 1.5rem;
	font-family: "Farmers_Thin";
	color: black;
	margin-left: 2%;
}

.container-full {
	margin-bottom: -2%;
}

h3{
	text-align: center;
}
#gallery_container {
	padding-top: 8rem;
	width: 100%;
	display: none;
	background-color: black;
}

#contact_container {
	padding-top: 2rem;
	display: none;
	background-color: black;
}

#logo {
	width: 87%;
	height: 87%;
}

.input_fields {
	font-family: "Farmers_Thin";
	color: #eccf90;
	background-color: black;
}

#links_p {
	margin-top: 2%;
	margin-bottom: 0;
	text-align: center;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.photo-div {
	margin: auto;
	width: 50%;
	height: 50%;
	padding-bottom: 2rem;
	}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
		.photo-div {
			margin: auto;
			width: 50%;
			height: 50%;
		}
	}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
		.photo-div {
		margin: auto;
		width: 50%;
		height: 50%;
		}
	}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
		.photo-div {
			margin: auto;
			width: 50%;
			height: 50%;

		}

  }

/*.fotorama__caption {
    text-align: center;
    font-family: 'Farmers_Reg'
}*/
#insta_text {
	font-family: 'Farmers_Reg';
	text-align: center;
	color: white;
}

.links {
	font-size: 1.5rem;
	font-family: "Farmers_Thin";
	color: black;
	margin-left: 2%;
	padding-bottom: 5%;
}

.current_link_black {
	font-size: 2rem;
	font-family: "Farmers_Thin";
	color: #eccf90;
	margin-left: 2%;
	}

.current_link_white {
	font-size: 2rem;
	font-family: "Farmers_Thin";
	color: black;
	margin-left: 2%;
	
}

.links:hover {
	color: black;
}

.menu_pages {
	width:48%;
}

#pdf_link {
	padding: 1.5rem;
}

.footer_black {
	font-family: "Farmers_Thin";
	font-size: 0.5rem;
	color: #eccf90;
	margin-bottom: 0px;
	position: absolute;
	text-align: center;
	background: black;
	padding-bottom: 4.7%;
}

.footer_white {
	font-family: "Farmers_Thin";
	font-size: 0.5rem;
	color: black;
	margin-bottom: 0px;
/*	position: fixed;*/
	text-align: center;
	background: white;
	
}

.info {
	font-family: "Farmers_Reg";
	margin-top: 2rem;
	margin-bottom: 2rem;
}

form {
	margin-bottom: 3rem;
}

.contact_info {
	font-family: "Farmers_Thin";
	font-size: 1.8rem;
}

.last_info {
	border-bottom: 1px solid black;
}

.drink_title {
	font-size: 1.6rem;
	font-family: "Farmers_Semi_Bold";
}

.served {
	font-size: 1.8rem;
	font-family: "Farmers_Semi_Bold";
	text-decoration: underline;
}

.section_header_text {
	font-family: "Farmers_Bold";
	font-size: 2.2rem;
}

.alcohol_type {
	font-family: "Farmers_Thin";
	text-decoration: underline;
	font-size: 1.4rem;
}

.wine_type {
	font-family: "Farmers_Bold";
	font-size: 1.4rem;
	text-decoration: underline;
}

#the_menu {
	font-family: "Farmers_Bold";
	font-size: 2.6rem;
}

#other_cocktails {
	font-family: "Farmers_Bold";
	font-size: 2.4rem;
}

#menu_price {
	font-family: "Farmers_Bold";
	font-size: 1.9rem;
}

p {
	font-family: "Farmers_Thin";
	font-size: 1.4rem;
}

.adapted_from {
	font-family: "Farmers_Thin";
	font-size: 1rem;
}

#rose_hh {
	font-family: "Farmers_Thin";
	font-size: 1.6rem;
}


.wine_description {
	font-family: "Farmers_Bold";
}

.fine_print {
	font-size: 0.5rem;
}

.allergies {
	font-size: 0.8rem;
}

.section_header {
	border-top: 2px solid black;
	border-bottom: 1px solid black;
}

.border_top {
	border-top: 2px solid black;
}

.top_logo_container {
	background-color: white;
	width: 100%;
}

.gold_logo_container {
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: white;
	width: 100%;
}

.gold_logo {
	height: 10%;
	width: 75%;
}

.map_logo {
/*	height: 5%;
	width: 5%;*/
	padding-bottom: 2%;
	padding-top: 2%;
}

.top_logo {
	height: 35rem;
	width: 75%;

}

.secondary_logo {
	width: 60%;
	height:60%;
}


#footer-text {
	font-size: 0.5rem
}

#insta_text {
	color: #eccf90;
}

#insta_logo {
	height: 40%;
	width: 40%;
	margin-bottom: 2rem;
}

#dot {
	height: 1%;
	width: 1%;
}